.list{
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    margin-left: -20px;
    margin-top: -20px;
}

.list > .item {
    display: inline-block;
    flex-basis: calc(100%/4 - 60px);
    text-align: center;
    margin-left: 20px;
    margin-bottom: 20px;
    padding: 40px 20px;

    background-color: rgb(240, 247, 253);
    border-radius: 5px;
}

