.container {
    position: relative;
    text-align: center;
    width: 100%;

    background-image: url('../../figs/MW_ISM.jpg');
    background-repeat: no-repeat; 
    background-color: #394150;
    padding-top: 60px;
    padding-bottom: 20px;
}

.img {
  display: block;
  position: absolute;
  right: 20px;
  top: 20px;

  
  content: '';
  width: 50px;
  z-index: 5;

}

.img:hover {
  animation: shake 0.5s;
  }

  @keyframes shake{
    0%{
      transform: rotate(0)
    }
    25%{
      transform: rotate(90deg);
    }
    50%{
      transform: rotate(180deg);
    }
    75%{
      transform: rotate(270deg);
    }
    100%{
      transform: rotate(360deg);
    }
  }

.title  {
    font-size: 40px;
    color: rgb(228, 227, 227);
    margin-bottom: 40px;
}


  .containerTablet {
    position: relative;
    text-align: center;
    width: 100wv;

    background-image: url('../../figs/MW_ISM.jpg');
    background-repeat: no-repeat; 
    background-color: #394150;
    padding: 20px 60px;

}

.titleTablet  {
    font-size: 32px;
    color: rgb(228, 227, 227);
    margin-bottom: 30px;
}


  .imgTablet {
    display: block;
    position: absolute;
    right: 10px;
    top: 10px;
    
    content: '';
    width: 60px;
    z-index: 5;

    transition: all 400ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .imgTablet:hover {
    animation: shake 0.5s;
    }

    .containerMobile {
      position: relative;
      text-align: center;
      width: 100%;
  
      background-image: url('../../figs/header_bkg.jpg');
      background-repeat: no-repeat; 
      background-color: #7fffd4;
      padding-top: 40px;
      padding-bottom: 40px;
  }
  
  .titleMobile  {
    font-size: 26px;
    color: rgb(76, 75, 75);
    margin-bottom: 0px;
}


  .imgMobile {
    display: block;
    position: absolute;
    right: 5px;
    top: 150px;
    
    content: '';
    width: 60px;
    z-index: 5;
    transition: all 400ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .imgMobile:hover {
    position: absolute;
    left: 5px;
    top: 5px;
    transform: scale(1.1);

  }


.dropMenuContainer{
  display: block;
  position: absolute;
  top: 0px;
  right: 0px;
  width: 250px;
  overflow: hidden;  

}

.menuSvg{
  display: block;
  position: absolute;
  top: 0px;
  right:10px;
  width: 35px;
  height: 35px;
}

.dropMenu{
  display: block;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #cadbe6;
  border-radius: 5px;
  transform: translateX(40%);
  transition: transform 400ms cubic-bezier(0.4, 0, 0.2, 1);
}