.stamp{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 10px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px dotted rgb(196, 196, 197);
    color: rgb(169, 170, 170);
    font-size: 16px;
}

.stampMobile{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 10px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 2px dotted rgb(196, 196, 197);
    color: rgb(169, 170, 170);
    font-size: 12px;
}

.img{
    display: inline-block;
    width:130px;
    height: 130px;
    
    border-radius: 50%;

    background-color: rgb(206, 207, 209);
}

.imgMobile{
    display: inline-block;
    width:60px;
    height: 60px;
    
    border-radius: 50%;

    background-color: rgb(206, 207, 209);
}

.info{
    display: flex;
    flex-direction: column;
}

.item{

    font-weight: 500;
}

.itemMobile{
    display: inline-block;
    font-weight: 500;
    font-size: 12px;
}


.itemInst{
    font-size: 16px;
    color: rgb(66, 66, 66);
    margin-top: 20px;
}

.itemInstMobile{
    font-size: 12px;
    color: rgb(66, 66, 66);
}

.itemCountry{
    font-size: 16px;
    color: rgb(84, 104, 126);
}

.itemCountryMobile{
    font-size: 12px;
    color: rgb(84, 104, 126);
}

.hex {
    font-size: 10px;
}

.pointBox{
    display: inline-flex;
    width:20px;
    height: 20px;
    margin-right: 10px;
    transform: translateY(5px);
}

.itemMobile{
    display: inline-flex;
    flex-direction: column;
}
.boxMobile {
    display: flex;
    flex-direction: row;
    margin-left: calc(-5px);

}

.name{
 font-weight: 700;
}